body
{
	background-color: #777;
    background-image: url(marble.jpg);
}
#navbarmenu
{
   top:0;
   width: 100%;
}
#mainnav
{

}

#name {
    position: relative;
    margin-top: 3px;
    font-family: 'Bree Serif', serif;
    font-family: 'Play', sans-serif;
    color: #5cb85c;
    font-weight: bold;
    font-size: 60px;

}
#p-layout
{
    
    background-color: #777;
}
#porthead {
    top: 0px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 3px solid black;
    font-family: 'Bree Serif', serif;
    font-family: 'Play', sans-serif;
}
#portgal {
    background-color: #777;
}

.sr-only 
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.nav-buttons
{
    position: absolute;
    display: inline;
    top: 0px;
	right: 300px;
    margin-top: 48px;
    margin-right: 0px;
    float: right;
}
.main-section {
    background-color: #ebebeb;
    display: block;
    max-width: 650px;
    height: 650px;

}
#aboutb
{
    margin-top: 2px;
	padding: 12px;
}
#portfoliob 
{
    margin-top: 2px;
    padding: 12px;
}
#portfoliod {
    margin-top: 2px;
    padding: 12px;
}
#mobileb {
    margin-top: 2px;
    padding: 12px;
}

#contactb
{
    margin-top: 2px;
    padding: 12px;
}

#contactinput 
{
    
    padding: 20px;
}
#sidebar 
{
    position: fixed;
	background-color: lightgray;
    top: 150px;
    right: 390px;
	height: 169px;
    max-width: 270px;
    margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right:0px;
	border: 3px solid grey;
}
.well 
{
    background-color: #777;
}

#sidetext 
{
    margin-top:0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 3px solid grey;
	
}

.giticonb {
	margin-left: 00px;
    margin-right: 0px;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
}

.iniconb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
}

.stackiconb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
	margin-right: 0px;
}
footer
{
	background-color: #777;
	position:fixed;
    text-align: center;
	bottom: 0;
	left:0;
	width: 100%;
    font-size:18px;
    font-weight:bold;
	border-top: 3px solid black;
}
